# Ignore everything by default
*

# Allow only the final notebook and repo metadata
!.gitignore
!README.md
!OnlineLinearControl_Final.ipynb
!OnlineLinearControl_AffineBenchmark.ipynb
!OnlineLinearControl_AffineBenchmark_vUpdateInnerLoop+Non-convex.ipynb
